<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="edocseal" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="server" />
    <kind value="PACKAGE" />
    <package value="auroraride.com/edocseal/cmd/edocseal" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/cmd/edocpdf/main.go" />
    <method v="2" />
  </configuration>
</component>
